a {
  text-decoration: none;
  font-size: 17px;
  color: white;
}

button {
  border: none;
  padding: 0.6rem 0.8rem;
  color: white;
  background-color: #9233eab6;
  border-radius: 7px;
  font-size: 17px;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000px;
}

.bx {
  font-size: 2rem;
  color: white;
}
