* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import "./partials/variables";

body {
  .container {
    width: 100%;
    height: auto;
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 auto;
      padding: 0.5rem 5rem;
      background-color: #252a3b;
      .links {
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        gap: 1.5rem;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .lincta {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
      }
      .cta {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: Arial, Helvetica, sans-serif;
        border: none;
        .bx-menu {
          display: none;
          @media (max-width: 768px) {
            display: block;
          }
        }
      }
    }
    .herosection {
      width: 100%;
      display: flex;
      overflow: hidden;
      background-color: #f8f9fc;
      padding-bottom: 4.5rem;
      .lefthero {
        width: 50%;
        margin-left: 3rem;
        padding-top: 13rem;
        @media (max-width: 768px) {
          width: 100%;
        }
        h1 {
          font-family: sans-serif;
          font-size: 60px;
          font-weight: 700;
          line-height: 60px;
          color: rgba(0, 0, 0, 0.815);
          margin-bottom: 0.9rem;
          @media (max-width: 768px) {
            font-size: 30px;
          }
        }
        span {
          color: #9333ea;
        }
        p {
          font-size: 18px;
          font-weight: 400;
          line-height: 28px;
          font-family: sans-serif;
          margin-bottom: 0.9rem;
          color: rgba(0, 0, 0, 0.575);
          @media (max-width: 768px) {
            font-size: 9px;
          }
        }
        .btnz {
          display: flex;
          gap: 1rem;
          .vmw {
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 500;
            background-color: #9333ea;
            padding: 0.8rem 1.7rem;
            border-radius: 25px;
          }
          .hme {
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 500;
            background-color: white;
            color: black;
            border: 2px solid black;
            padding: 0.8rem 1.7rem;
            border-radius: 25px;
          }
        }
      }

      .righthero {
        img {
          margin-left: 7rem;
          border-radius: 26px;
          @media (max-width: 768px) {
            width: 100%;
          }
        }
      }
    }
    .aboutme-section {
      width: 100%;
      height: 70vh;
      background-color: #070707;
    }
  }
}
